<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div>
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary mt-3" %> 
  <%= link_to "Back", friends_path, class:"btn btn-secondary mt-3" %>
  <%= button_to "Destroy", @friend, method: :delete, class:"btn btn-secondary mt-3" %>
</div>
